header {
  position: relative;
  display: flex;
  height: 400px;
  width: 100%;
  top: 120px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  background-image: url("../images/header-bg.png");
}

.user-name {
  font-weight: bold;
}