/* Desktop styles */
@media only screen and (min-width: 1024px) {

  body {
    display: flex;
  }

  nav {
    position: fixed;
  }

  header.main-header {
    top: 120px;
    margin: 3em 2em 0;
    width: 40%;
  }

  main.container {
    top: 120px;
    margin: 3em;
    width: 60%;
  }


}