nav {
  display: flex;
  height: 120px;
  background-color: var(--primary-color);
  color: #fff;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  width: 100%;
}

.logo {
  font-family: var(--secondary-font);
  margin-left: 1.5em;
  font-size: 24px;
}

.nav-right {
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
  align-items: center;
}

.nav-right i {
  color: var(--secondary-color);
  margin-top: 0.3em;
  animation: bounce .6s ease infinite alternate;
}

@keyframes bounce {
  100% {
    transform: translateY(-5px);
  }
}