.new-tweet {
  margin: 10px 0 10px 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.form-label {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  /* top: 10px; */
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

textarea {
  border: 3px solid var(--primary-font-color);
  border-style: none none solid;
  background-color: var(--secondary-bg-color);
  padding: 10px 0;
}

textarea:focus {
  outline: none;
}

.btn-item {
  background-color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 20px;
  border: none;
  padding: 5px 10px;
  color: #fff;
}

.counter {
  font-family: var(--secondary-font);
  font-size: 20px;
  color: var(--primary-font-color)
}