.new-tweet {
  margin: 2em 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.form-msg-box {
  display: none;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  border-radius: 10px;
  color: #b71c1c;
  background-color: #FFCCBC;
  text-align: center;
}

/* .error-msg {
  color: #b71c1c;
  background-color: #FFCCBC;
} */

.form-msg i {
  padding: 0 1em;
}

.form-label {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  /* top: 10px; */
}

textarea {
  border: 3px solid var(--primary-font-color);
  border-style: none none solid;
  background-color: var(--secondary-bg-color);
  padding: 0.5em 0 0;
}

textarea:focus {
  outline: none;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8em;
}


.btn-item {
  background-color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 20px;
  border: 1px solid;
  padding: 0.5em 1em;
  color: #fff;
}

.btn-item:hover {
  cursor: pointer;
}

.btn-item:active {
  border: 1px solid;
  box-shadow: var(--secondary-color) 0 0 3px 2px;
}

.counter {
  font-family: var(--secondary-font);
  font-size: 20px;
  color: var(--primary-font-color)
}

.counter-negative {
  color: red;
}